---
layout: layout.njk
---

<h2>Today I Learned&hellip;</h2>

<div class="articles">
  {% for post in collections.til | reverse %}
  <article>
    <time datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</time>
    <h1><a href="{{ post.url | url }}">{{ post.data.title }}</a></h1>
    {{ content | safe }}
  </article>
  {% endfor %}
</div>
