---
permalink: feed/feed.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
	<id>{{ metadata.feed.id }}</id>
	<title>{{ metadata.title }}</title>
	{% if (collections.posts.length) %}
	<updated>{{ collections.posts | getNewestCollectionItemDate | dateToRfc3339 }}</updated>
	{% endif %}
	<author>
		<name>{{ metadata.author.name }}</name>
		<email>{{ metadata.author.email }}</email>
	</author>
	<link href="{{ metadata.feed.url }}" rel="self" type="application/rss+xml" />
	<link href="{{ metadata.url }}"/>
	{%- for post in collections.posts %}
	{% set absolutePostUrl %}{{ post.url | url | absoluteUrl(metadata.url) }}{% endset %}
	<entry>
		<id>{{ absolutePostUrl }}</id>
		<title>{{ post.data.title }}</title>
		<link href="{{ absolutePostUrl }}"/>
		<updated>{{ post.date | dateToRfc3339 }}</updated>
		<content type="html">{{ post.templateContent | htmlToAbsoluteUrls(absolutePostUrl) }}</content>
	</entry>
	{%- endfor %}
</feed>