---json
{
  "permalink": "feed/feed.xml",
  "eleventyExcludeFromCollections": true,
  "metadata": {
    "language": "en"
  }
}
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom" xml:lang="{{ metadata.language or page.lang }}">
	<id>{{ metadata.feed.id }}</id>
	<title>{{ metadata.title }}</title>
	{% if (collections.posts.length) %}
	<updated>{{ collections.posts | getNewestCollectionItemDate | dateToRfc3339 }}</updated>
	{% endif %}
	<author>
		<name>{{ metadata.author.name }}</name>
	</author>
	<link href="{{ metadata.feed.url }}" rel="self" type="application/rss+xml" />
	<link href="{{ metadata.url }}"/>
	{%- for post in collections.posts | reverse %}
	{% set absolutePostUrl %}{{ post.url | htmlBaseUrl(metadata.url) }}{% endset %}
	<entry>
		<id>{{ absolutePostUrl }}</id>
		<title>{{ post.data.title }}</title>
		<link href="{{ absolutePostUrl }}"/>
		<updated>{{ post.date | dateToRfc3339 }}</updated>
		<content type="html">{{ post.templateContent | renderTransforms(post.data.page, metadata.url) }}</content>
	</entry>
	{%- endfor %}
</feed>