<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{{ renderData.title or title or metadata.title }}</title>

    <link rel="stylesheet" href="{{ '/css/index.css' | url }}" />

    <meta
      name="description"
      content="{{ renderData.description or description or metadata.description }}"
    />
    <meta property="og:title" content="{{ renderData.title or title or metadata.title }}">
    <meta property="og:description" content="{{ renderData.description or description or metadata.description }}">
    <meta property="og:locale" content="en_GB">
    <meta property="og:type" content="website">

    <link
      type="application/atom+xml"
      rel="alternate"
      href="{{ metadata.feed.path | url }}"
      title="{{ metadata.title }}"
    />
    <meta name="format-detection" content="telephone=no">
    <link rel="manifest" href="{{ '/manifest.json' | url }}" />
    <meta name="theme-color" content="#2e3037">
  </head>
  <body>
    <h1><a href="/">Dan Jordan</a></h1>

    <nav>
      <a href="https://twitter.com/danjordan" title="Twitter">Twitter</a>
      &nbsp;|&nbsp;
      <a href="https://github.com/danjordan" title="GitHub">GitHub</a>
    </nav>

    <main>{{ content | safe }}</main>

  </body>
</html>
