@use "../../node_modules/dracula-prism/dist/css/dracula-prism";
@use "utils";

body {
  max-width: 60ch;
}

h1 {
  font-size: 2em;
}

a {
  border-bottom: 2px solid;
}

a:hover {
  border-width: 0;
}

a:focus {
  border-bottom: 0;
  outline-offset: 2px;
}

header {
  font-size: 2.35em;
  text-align: center;
}

nav {
  margin-bottom: 4rem;
  text-align: center;
}

article h1 {
  font-size: 2.35em;
  margin-bottom: 0;
}

time {
  display: block;
  margin-bottom: 4rem;
  text-align: center;
}

pre[class*="language-"] {
  margin-bottom: 2.5rem;
}

table {
  margin-bottom: 2.5rem;
}

picture {
  display: block;
  line-height: 0;
}

figcaption {
  font-size: 1.75rem;
}

.skiplink {
  position: absolute;
  left: -9999em;
}

.skiplink:focus {
  left: 0;
  z-index: 1;
}

#skiplink-container {
  text-align: center;
}

#skiplink-container div {
  text-align: left;
  margin: 0 auto;
  max-width: 1020px;
}

#skiplink-container .skiplink {
  margin-left: 0.75rem;
}

main {
  margin-bottom: 4rem;
}

footer {
  font-size: 0.8em;
  text-align: center;
}
