@import "../../node_modules/normalize.css/normalize";
@import "sakura-theme";
@import "../../node_modules/sakura.css/scss/_main";
@import "../../node_modules/dracula-prism/dist/css/dracula-prism";
@import "utils";

body {
  max-width: 60ch;
}

h1 {
  font-size: 2em;
}

a {
  border-bottom: 2px solid;
}

a:visited {
  color: $color-blossom;
}

a:hover {
  border-width: 0;
  color:$color-fade;
}

a:focus {
  border-bottom: 0;
  color:$color-fade;
  outline: 4px solid $color-fade;
  outline-offset: 2px;
}

header {
  @extend h1;
  font-size: 2.35em;
  text-align: center;
}

nav {
  margin-bottom: 4rem;
  text-align: center;
}

article h1 {
  font-size: 2.35em;
  margin-bottom: 4rem;
}

pre[class*="language-"] {
  margin-bottom: 2.5rem;
}

table {
  margin-bottom: 2.5rem;
}

@media (max-width: 684px) {
  body {
    font-size: $font-size-base;
  }
}

@media (max-width: 382px) {
  body {
    font-size: $font-size-base;
  }
}

.skiplink {
  position: absolute;
  left: -9999em;
}

.skiplink:focus {
  left: 0;
  z-index: 1;
}

#skiplink-container {
  text-align: center;
}

#skiplink-container div {
  text-align: left;
  margin: 0 auto;
  max-width: 1020px;
}

#skiplink-container .skiplink {
  margin-left: 0.75rem;
}

main {
  margin-bottom: 4rem;
}

footer {
  font-size: 0.8em;
  text-align:center;
}