@import "./sakura-theme.scss";
@import "../../node_modules/sakura.css/scss/_main.scss";
@import "./dracula.scss";

body {
  max-width: 40em;
}

a {
  border-bottom: 2px solid;
}

a:hover {
  border-width: 0;
}

a:focus {
  border-bottom: 0;
  outline: 4px solid $color-fade;
  outline-offset: 2px;
}

h1 {
  text-align: center;
}

nav {
  margin-bottom: 4rem;
  text-align: center;
}

article h1 {
  margin-bottom: 4rem;
}

pre[class*="language-"] {
  margin-bottom: 2.5rem;
}

table {
  margin-bottom: 2.5rem;
}

@media (max-width: 684px) {
  body {
    font-size: $font-size-base;
  }
}

@media (max-width: 382px) {
  body {
    font-size: $font-size-base;
  }
}
