---
layout: layout.html
---

<h1 class="text-center">Astrophotography</h1>

<ul>
  {% for item in astrophotography %}
  <li><a href="#{{ item.id }}">{{ item.title }}</a></li>
  {% endfor %}
</ul>

{% for item in astrophotography %}
<h3 id="{{ item.id }}">{{ item.title }}</h3>
{% for photo in item.photos %}
<figure>
  <div class="text-center">
    <img class="mb-0" alt="" src="{{ photo.src }}" />
  </div>
  <figcaption class="text-center">{{ photo.date }}</figcaption>
</figure>
{% endfor %} {% endfor %}
