<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CV | Dan Jordan</title>

    <link rel="stylesheet" href="/css/cv.css" />

    <link rel="icon" href="/favicon.svg" />

    <meta
      name="description"
      content="{{ renderData.description or description or metadata.description }}"
    />
    <meta property="og:locale" content="en_GB" />
    <meta property="og:type" content="website" />

    <meta name="format-detection" content="telephone=no" />
    <meta name="theme-color" content="#ffffff" />
  </head>
  <body>
    <main class="page">
      <header><h1>Dan Jordan</h1></header>
      <section>
        <p><strong>Email:</strong> dan@dan-jordan.co.uk</p>
        <p>
          Software developer with over 10 years experience building and
          maintaining performant web applications. Excellent communication and
          client liaison skills with a meticulous approach to working.
          Enthusiastic about modern web development practises and innovations.
        </p>
      </section>
      <hr />
      <section>
        <h2>Work history</h2>
        <h4>Mindera, Leicester</h4>
        <h5>Front-end Developer - August 2018 &ndash; Present</h5>
        <h5>Skills: JavaScript, React, Redux, Jest, Git, Agile</h5>
        <p>
          Working with both remote and local agile teams to implement features
          for multiple e-commerce clients. Writing tests for features and
          components and performing code review for both developers in my team
          and other teams. As part of the agile process attending daily
          stand-ups, planning sessions and retrospective meetings.
        </p>
        <h4>Signature Digital Studios, Wigston</h4>
        <h5>Web Developer - May 2011 &ndash; August 2018</h5>
        <h5>
          Skills: JavaScript, React, Redux, Jest, PHP, Laravel, MySQL, AWS, Git
        </h5>
        <p>
          Initially employed to work on PhoneGap applications for Android and
          iOS. With time advanced to building and maintaining JavaScript
          applications with ReactJS and recently collaborated with a
          telecommunications company to build a Node.js application to integrate
          with their telephone payment system. Also developed PHP applications
          for large multinational pharmaceutical companies, including
          administrative systems, external API integration and RESTful APIs for
          consumption by iOS applications.
        </p>
        <h4>Impact Web Solutions, Leicester</h4>
        <h5>Web Developer - May 2009 &ndash; May 2011</h5>
        <h5>
          Skills: HTML, CSS, JavaScript, jQuery, Web Performance, Magento,
          Photoshop, Client support
        </h5>
        <p>
          Building brochure websites in an open source PHP CMS system using the
          Smarty templating language. Introduced testing the performance of
          websites to increase page load speeds and using YSlow and Google Page
          Speed. Used Photoshop to improve images and site assets for both
          performance and visibility. Experience with Magento platform to create
          templates for eCommerce sites. Developed customer liaison and client
          support skills including using Basecamp for project management.
        </p>
        <h4>Caged Fish Web Design, Market Harborough</h4>
        <h5>Junior Web Developer - June 2007 &ndash; May 2009</h5>
        <h5>
          Skills: HTML, CSS, Javascript, Prototypejs, jQuery, Email templates,
          ASP, Actinic
        </h5>
        <p>
          Converting Photoshop designs into WordPress, Actinic and static
          templates using HTML, CSS and JavaScript to enhance usability of the
          sites. Coding PHP within WordPress to add additional features to the
          admin panel. Creation of email marketing templates, including a system
          built in ASP to send emails to a mailing list.
        </p>
      </section>
      <hr />
      <section>
        <h2>Education</h2>
        <h4>Keele University, Staffordshire</h4>
        <h5>September 2005 &ndash; May 2007</h5>
        <ul>
          <li>Studied Mathematics &mdash; course incomplete</li>
          <li>
            Complementary Study Program (CSP) modules including Computer
            Programming (Java) and Web Design
          </li>
        </ul>
        <h4>Robert Smyth School, Market Harborough</h4>
        <h5>2001 &ndash; 2005</h5>
        <ul>
          <li>A-Levels in Mathematics, ICT, Geography and General Studies</li>
          <li>AS-Level in Business Studies</li>
          <li>
            11 GCSEs grade A* &ndash; C including English, Mathematics, Science
            (Double Award) and ICT
          </li>
        </ul>
      </section>
      <hr />
      <section>
        <h2>Interests</h2>
        <p>
          I am passionate about music and regularly attend live shows and
          festivals. In addition to this, I have played basketball for many
          years and currently play in the Leicestershire league, as well as
          taking a keen interest in the national league where I am a season
          ticket holder for the Leicester Riders.
        </p>
      </section>
    </main>
    {% include "analytics.njk" %}
  </body>
</html>
