---
layout: layout.njk
---

<p>JavaScript developer at <a href="https://mindera.com">Mindera</a> working with <a href="https://reactjs.org/">React</a> and <a href="https://nodejs.org/">Node</a> on <a href="https://aws.amazon.com/lambda/">AWS Lambda</a>.</p>

{% include "recent.njk" %}

<h2>Stuff I helped with</h2>

<ul>
  <li><a href="https://github.com/atom/tabs">Atom Tabs</a></li>
  <li><a href="https://leicesterjs.org">Leicester JS</a></li>
  <li><a href="https://github.com/danjordan/pokefusion">Pokéfusion</a></li>
  <li><a href="https://ce3k.netlify.app/">ce3k</a></li>
</ul>